# generic files
*~
.~*
.RData
*.aux
*.out
*.log
*.synctex.gz
*.sw*
*.bbl
*.blg
*.gl*
*.xdy
*.nav
*.toc
*.snm
*.Rhistory
*.Rout
*.fdb_latexmk
*.fls
*.glsdefs
*.ist
*.lof

# specific files

# directories
notes/
admin/
R/data/

# keep specific files
