# generic files
*~
.~*
.RData
*.aux
*.out
*.log
*.synctex.gz
*.sw*
*.bbl
*.blg
*.gl*
*.xdy
*.nav
*.toc
*.snm
*.Rhistory
*.Rout
*.fdb_latexmk
*.fls
*.glsdefs
*.ist
*.lof

# specific files
R/reporting.pdf
R/junk.R

# directories
notes/
admin/
R/data/generated/
R/Figs/

# keep specific files
